<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>button自定义索引.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>16F3B42F1E07E1F600DFDAEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16F3B4481E07E1F600DFDAEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16F3B4531E07E1F600DFDAEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
